torch==2.1.1+computecanada
torchvision==0.16.1+computecanada
tensorboard==2.12.0+computecanada
tensorboard-data-server==0.7.0+computecanada
tensorboard-plugin-wit==1.8.1+computecanada
jupyterlab
requests==2.32.3+computecanada
tqdm==4.67.1+computecanada